<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NACBackEnd.Properties.Settings.nacConnectionString"
            connectionString="Data Source=sjmdb.database.windows.net;Initial Catalog=nac;User ID=StuartMaher;Password=Vandle01;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>